/*****************/
/*****************/
/**basic styling**/
/*****************/
/*****************/

body {
  width: 100%;
  max-width: 80%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1;
  font-family: 'PT Serif', serif;
  background: rgb(27, 27, 29);
  color: #fff;
}

h1,
a.logo {
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  background: -webkit-linear-gradient(0deg, #fc466b, #3f5efb);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: GradientAnimation 10s ease infinite;
  -moz-animation: GradientAnimation 10s ease infinite;
  -o-animation: GradientAnimation 10s ease infinite;
  animation: GradientAnimation 10s ease infinite;
}

li {
  line-height: 1.2;
}

h2 {
  font-size: 40px;
  line-height: 1;
  margin: 0 0 10px 0;
  text-align: center;
}

p {
  font-size: 16px;
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  line-height: 1.2;
  color: #fff;
}

a,
button {
  pointer-events: all;
  color: #fa466c;
  text-decoration: none;
}

button,
.button {
  background: -webkit-linear-gradient(0deg, #fc466b, #3f5efb);
  background-size: 300% 300%;
  -webkit-animation: GradientAnimation 10s ease infinite;
  -moz-animation: GradientAnimation 10s ease infinite;
  -o-animation: GradientAnimation 10s ease infinite;
  animation: GradientAnimation 10s ease infinite;
  border: none;
  color: #fff;
  padding: 6px 16px;
}

a:hover {
  cursor: pointer;
}

.body-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 1024px;
  margin: 0 auto;
  max-width: 100%;
  padding: 100px 5%;
}

footer .content-wrap {
  align-items: center;
  justify-content: center;
  flex: 0 0 150px;
}

footer ul {display: flex;align-items: center;justify-content: center;flex-flow: row wrap;padding: 0;margin: 50px 0 20px;width: 100%;}

footer li {
  list-style-type: none;
  padding: 5px 10px;
}

.content-wrap {
  margin: 5px 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  pointer-events: none;
}

footer {
  /* padding-top: 30px; */
  /* margin-top: 70px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

/******************/
/******************/
/**header styling**/
/******************/
/******************/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 1024px;
  margin: 0 auto 20px;
  max-width: 100%;
}

header .logo {
  flex: 0 0;
  text-decoration: none;
  /* color: #000; */
}

/****************/
/****************/
/**menu styling**/
/****************/
/****************/

.mobile-menu {
  display: none;
  z-index: 9999;
  border: none;
  background: url('menu.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}

.social {
  z-index: 9999;
  border: none;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  font-size: 0;
  height: 30px;
  width: 30px;
  position: relative;
  display: block;
}

#twitter {
  background: url('twitter.png');
}

#opensea {
  background: url('opensea.png');
}

#fnd {
  background: url('FND.png');
  width: 70px;
}

#gallery {
  background: url('oncyber.png');
  width: 45px;
}

#vault {
  background: url('vault.png');
}

#mainmenu {
  flex: 0 0 305px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  padding: 0;
  max-width: 100%;
}

.main-menu-on {
  display: flex !important;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  padding: 5px 15px;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

/************************************/
/************************************/
/**dark / low contrast mode styling**/
/************************************/
/************************************/

body.dark-mode {
  background: rgb(255, 255, 255);
}

.dark-mode h1,
.dark-mode h2,
.dark-mode p,
.dark-mode a,
.dark-mode #dark-state,
.dark-mode #bad-state,
.dark-mode li::marker {
  color: rgb(0, 0, 0) !important;
}

.dark-mode .mobile-menu {
  filter: invert(0);
}

body.bad-contrast {
  background: rgb(0, 255, 34);
}

.bad-contrast h1,
.bad-contrast h2,
.bad-contrast p,
.bad-contrast a,
.bad-contrast #dark-state,
.bad-contrast #bad-state,
.bad-contrast li::marker {
  color: rgb(187, 255, 0);
}

.bad-contrast button,
.bad-contrast .button,
.bad-contrast a.logo {
  background: -webkit-linear-gradient(0deg, rgb(187, 255, 0), rgb(0, 255, 21));
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: GradientAnimation 10s ease infinite;
  -moz-animation: GradientAnimation 10s ease infinite;
  -o-animation: GradientAnimation 10s ease infinite;
  animation: GradientAnimation 10s ease infinite;
}

.bad-contrast .mobile-menu {
  background:transparent;
}

.dark-mode footer ul {
  filter: invert(1);
}

.dark-mode .menu {
  color:#000;
}

#dark-state,
#bad-state {
  display: block;
  margin: 0 5px;
}

/*********************/
/*********************/
/**portfolio styling**/
/*********************/
/*********************/

.portfolio-wrap {
  align-items: center;
  justify-content: center;
  padding: 0px 0 40px;
  max-width: 100%;
}

.portfolio-wrap h2 {
  width: 100%;
}

.portfolio-item {
  flex: 1 0 300px;
  max-width: 100%;
  width: 300px;
  padding: 20px;
  object-fit: contain;
}

.content-wrap .button {
  flex: 1 0 50%;
  max-width: 100px;
}


/*************/
/*************/
/**keyframes**/
/*************/
/*************/

@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 0% 51%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 51%;
  }
}

@-moz-keyframes GradientAnimation {
  0% {
    background-position: 0% 51%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 51%;
  }
}

@-o-keyframes GradientAnimation {
  0% {
    background-position: 0% 51%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 51%;
  }
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 51%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 51%;
  }
}

/**************************/
/**************************/
/**single media query lol**/
/**************************/
/**************************/

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 60px;
    text-align: center;
  }

  header .logo {
    text-align: center;
    font-size: 65px;
    padding-bottom: 7px;
    margin-bottom: 0;
  }

  header {
    justify-content: center;
  }

  h2 {
    font-size: 30px;
  }

  .body-content {
    padding:30px 2% 60px;
  }

  #dark-state,
  #bad-state,
  p,
  li,
  button {
    font-size: 20px;
  }

  #bad-mode, #dark-mode {
    font-size: 16px;
  }

  footer .content-wrap {
    flex: 1 0 100%;
  }

  .mobile-menu {
    display: block;
    width: 100%;
    font-size: 0;
    height: 30px;
    margin-top: 40px;
    animation: none;
    filter: invert(1);
  }

  #mainmenu {
    display: none;
  }

  .menu li a {
    padding: 10px 0;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  .menu li {
    width: 100%;
  }
}
