body {
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1;
}

body .calc-wrap {
  padding-bottom: 50px;
}

h1 {
  font-size: 30px;
  line-height: 1;
}

h2 {
  font-size: 25px;
  line-height: 1;
  margin: 0 auto;
}

p {
  font-size: 16px;
  width:100%;
  margin-bottom: 10px;
}

header, .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  margin: 0 auto;
}

.button-wrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: row wrap;
  max-width: 200px;
}

.button-wrap .button {
  flex:1 0 50%;
  max-width: 100px;
  margin: 10px auto;
}

.button {
  border: 2px solid;
  padding: 10px 20px;
  color:#000;
  width: auto;
}
